---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<Layout>
<div class="text-center text-4xl">
   <ul>
      <h1>\</h1>
      <a href="https://www.instagram.com/valdefar_/" target="_blank" rel="noopener noreferrer">Instagram</a>
      <h1>/</h1>
      <h1>30492005</h1>
      <h1>\</h1>
      <h1>valdemar@verup.biz</h1>
      <h1>/</h1>
   </ul>

</div>
<Footer></Footer>

</Layout>