---

---

<!-- <div class="absolute top-70 left-9 text-black text-7xl ">Reveal me -></div>
<div class="absolute square rounded-r-2xl bg-black top-90 left-10 h-5 w-78 transition-all hover:w-200 delay-100 duration-1000 ease-initial"></div>
<div class="absolute top-100 left-10 text-black text-4xl font-extrabold">Valdemar Verup</div>
<div class="absolute top-110 left-10 text-black text-4xl">Copenhagen, Denmark</div>
<div class="absolute top-120 left-10 text-black text-4xl">Danish School of Media and Journalism</div>
<div class="absolute top-130 left-10 text-black text-4xl">Coded Design</div>
<div class="absolute top-140 left-10 text-black text-4xl">Frontend Designer</div> -->