---

---

<div class="absolute top-70 left-9 text-black text-7xl ">Reveal me</div>
<div class="absolute square bg-black top-90 left-10 h-5 w-78 transition-all hover:w-200 delay-100 duration-1000 ease-initial"></div>