---

---

<div class="p-3 absolute left-70 top-40 right-88 bottom-30 border-3 border-black border-dashed grid grid-cols-4 grid-rows-2 rounded-xl">
    <div class="p-3 m-1 rounded-xl col-start-1 col-span-1 row-span-2 text-3xl font-secondary">Hello there! Welcome to my portfolio:)<br><br>Explore the menu or use the arroy-keys to navigate through what I've made in my frontend design career<br><br>On the right is a tiny 'movie' with pictures i've taken over the years... <br> <br> Everything is either something i've built, observed or seen online. In a way it's a look inside my head. You can experience what i find funny, interesting or just worth a photo. Enjoy:)</div>
    <img class="h-full w-full object-cover object-bottom rounded-xl border-3 col-start-2 col-span-3 row-span-2" src="/images/KADKVIDEO.gif" alt="">

</div>