---

---
<div class="absolute left-70 right-88 top-40 bottom-30 grid grid-cols-8 grid-row-2 border-3 p-3 border-dashed rounded-xl">
    <div class="col-span-2 row-span-3 m-1"> <img class="h-full w-full object-cover rounded-xl border-2" src="/images/axidraw.gif" alt=""> </div>
    <div class="col-span-2 row-span-3 m-1"> <img class="h-full w-full object-cover rounded-xl border-2" src="/images/axidraw2.gif" alt=""> </div>
    <div class="col-span-4 row-span-2 m-1"> <img class="h-full w-full object-cover rounded-xl border-2" src="/images/axidraw3.jpeg" alt=""> </div>
    <div class=" border-black border-2 col-span-4 row-span-1 m-1 font-secondary text-2xl p-4 rounded-xl">A project we did in school where we would make a pattern generator in p5.js and upload them to the AxiDraw machine. Pens, pencils and sharpies could be swapped out to create unique patterns</div>

  







</div>