---

---
<div class="absolute left-70 right-88 top-40 bottom-30 grid grid-cols-9 grid-rows-2 border-3 p-3 rounded-xl">
    <div class="col-span-3 row-span-2 m-1"> <img class="h-full w-full object-cover object-bottom rounded-xl border-3" src="/images/ISLAND FULL høj kval.png" alt=""></div>
    <div class="col-span-3 row-span-2 m-1"> <img class="h-full w-full object-cover object-bottom rounded-xl border-3" src="/images/RUMSKIB høj kval.png" alt=""></div>
    <div class="col-span-3 row-span-2 m-1"> <img class="h-full w-full object-cover object-bottom rounded-xl border-3" src="/images/PORTAL HØJ KVAL.png" alt=""></div>
    <div class="col-span-9 h-10 m-1 rounded-xl font-secondary text-3xl">Imaginary island made in low poly style – Made in Blender, sculpted from scratch and rendered in Cycles</div>

</div>