<div class="">
    <div class="absolute square top-120 left-290 bg-[#A684AF] h-50 w-20 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-10 hover:w-150 hover:h-150 not-hover:rotate-20">1</div>
    <div class="absolute square top-55 left-300 bg-[#E2C291] h-50 w-20 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-10 hover:w-150 hover:h-150 not-hover:rotate-20">2</div>
    <div class="absolute square top-40 left-275 bg-[#BC4B5D] h-50 w-20 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-10 hover:w-150 hover:h-150 not-hover:rotate-20">3</div>
    <div class="absolute square top-140 left-257 bg-[#D06945] h-50 w-20 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-10 hover:w-150 hover:h-150 not-hover:rotate-20">4</div>
    <div class="absolute square top-55 left-240 bg-[#5D6EA1] h-50 w-20 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-10 hover:w-150 hover:h-150 not-hover:rotate-20">5</div>
    <div class="absolute square top-120 left-230 bg-[#E5B18E] h-50 w-20 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-10 hover:w-150 hover:h-150 not-hover:rotate-20">6</div>
</div>