<div class="">
    <div class="border-4 border-[#F4F2E7] absolute square top-120 left-350 bg-[#BC4B5D] h-40 w-130 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">8</div> 
    <div class="border-4 border-[#F4F2E7] absolute square top-120 left-230 bg-[#A684AF] h-40 w-110 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">7</div>    
    <div class="border-4 border-[#F4F2E7] absolute square top-120 left-160 bg-[#E5B18E] h-40 w-60 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">6</div>
    <div class="border-4 border-[#F4F2E7] absolute square top-120 left-60 bg-[#5D6EA1] h-40  w-90 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">5</div>
    <div class="border-4 border-[#F4F2E7] absolute square top-70 left-380 bg-[#D06945] h-40  w-100 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">4</div>
    <div class="border-4 border-[#F4F2E7] absolute square top-70 left-270 bg-[#BC4B5D] h-40  w-100 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">3</div>
    <div class="border-4 border-[#F4F2E7] absolute square top-70 left-180 bg-[#E2C291] h-40  w-80 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">2</div>
    <div class="border-4 border-[#F4F2E7] absolute square top-70 left-60 bg-[#A684AF] h-40   w-110 rounded-2xl transition-all delay-10 duration-500 ease-in-out hover:-translate-y-5 hover:w-150 hover:h-150 hover:bg-[#F4F2E7]">1</div>
</div>