<div class="">
    <div class="absolute square top-50 left-250 bg-amber-500 h-100 w-40 rounded-4xl transition delay-10 duration-500 ease-in-out hover:-translate-y-10">1</div>
    <div class="absolute square top-80 left-300 bg-amber-400 h-100 w-40 rounded-4xl transition delay-10 duration-500 ease-in-out hover:-translate-y-10">2</div>
    <div class="absolute square top-130 left-260 bg-amber-200 h-100 w-40 rounded-4xl transition delay-10 duration-500 ease-in-out hover:-translate-y-10">3</div>
    <div class="absolute square top-140 left-290 bg-amber-300 h-100 w-40 rounded-4xl transition delay-10 duration-500 ease-in-out hover:-translate-y-10">4</div>
    <div class="absolute square top-60 left-280 bg-amber-100 h-100 w-40 rounded-4xl transition delay-10 duration-500 ease-in-out hover:-translate-y-10">5</div>
</div>