---

---

<div class="absolute top-60 left-40 grid grid-cols-20 gap-2 max-2xl">

        <a class="col-start-6 col-span-5 row-span-14 bg-[#0D3B66] text-white content-center text-5xl font-bold rounded-xl hover:-translate-y-1 hover:border-4 hover:col-start-4 hover:col-span-7 text-center transition-all ease-in-out font-secondary" href="/blender"><div>Blender</div></a>
        <a class="col-start-11 col-span-4 row-start-5 row-span-10 bg-[#F95738] text-black content-center text-5xl font-bold rounded-xl hover:-translate-y-1 hover:border-4 hover:col-start-11 hover:col-span-6 hover:row-span-14 text-center transition-all ease-in-out font-secondary" href="/axiDraw"><div>Axi Draw</div></a>
        <a class="col-start-4 col-span-3 row-span-10 bg-[#FAF0CA] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 transition-all ease-in-out font-secondary" href="/processing"><div>Processing</div></a>
        <a class="col-start-7 col-span-1 row-span-22 text-center text-7xl transition-all hover:-translate-y-5 hover:text-[#F95738] hover:rotate-10 ease-in-out" href="/about"><div>
         0
        /I\
        /\</div></a>
        <a class="col-start-8 col-span-2 row-span-15 bg-[#F95738] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 transition-all ease-in-out font-secondary" href="/code"><div>Code</div></a>
        <a class="col-start-10 col-span-4 row-span-15 bg-[#FAF0CA] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 transition-all ease-in-out font-secondary" href="/draw"><div>Drawings</div></a>
        <a class="col-start-14 col-span-3 row-span-15 bg-[#0D3B66] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 hover:col-span-3 transition-all ease-in-out font-secondary" href="https://pin.it/2R9yryVfg" target="_blank" rel="noopener noreferrer"><div>Pinterest</div></a>
        <a class="col-start-5 col-span-2 row-span-12 bg-[#F95738] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 hover:col-start-4 hover:col-span-3 transition-all ease-in-out font-secondary" href="/posters"><div>Posters</div></a>
        <a class="col-start-8 col-span-5 row-span-25 bg-[#0D3B66] text-white content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 hover:col-span-5 hover:col-start-8 transition-all ease-in-out font-secondary" href="/school"><div>School</div></a>
        <a class="col-start-13 col-span-3 row-span-10 bg-[#B66F93] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 hover:col-span-4 hover:col-start-13 hover:row-span-26 transition-all ease-in-out font-secondary" href="/music"><div>Music</div></a>
        <a class="col-start-6 col-span-2 row-span-18 bg-[#B66F93] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 hover:col-start-4 hover:col-span-4 transition-all ease-in-out font-secondary" href="https://www.instagram.com/valdefar_/" target="_blank" rel="noopener noreferrer"><div>Insta</div></a>
        <a class="col-start-7 col-span-4 row-span-14 bg-[#F95738] text-black content-center text-5xl font-bold text-center rounded-xl hover:-translate-y-1 hover:border-4 hover:col-start-4 hover:col-span-13 transition-all ease-in-out font-secondary" href="/jobs"><div>Jobs</div></a>
</div>

    <script>
        console.log('Lav js her...')
    </script>