---

---
<div class="absolute left-70 right-88 top-40 bottom-30 grid grid-cols-8 grid-rows-10 border-3 p-3 border-dashed rounded-xl">
    <div class="m-1 border-2 border-black rounded-xl  col-span-3 row-span-4"></div>
    <div class="m-1 border-2 border-black rounded-xl  col-span-2 row-span-7"></div>
    <div class="m-1 border-2 border-black rounded-xl  col-span-3 row-span-10"></div>
    <div class="m-1 border-2 border-black rounded-xl  col-span-3 row-span-6"></div>
    <div class="m-1 border-2 border-black rounded-xl  col-span-2 row-span-3"></div>



</div>