---

---

<div class="absolute left-70 right-88 top-40 bottom-30 grid grid-cols-6 grid-rows-9 border-3 p-3 border-dashed rounded-xl">
    <div class="row-start-1 row-span-3 m-1"> <img class="border-2 rounded-xl h-full w-full"src="/images/draw_3.jpeg" alt=""></div>
    <div class="row-start-4 row-span-3 m-1"> <img class="border-2 rounded-xl h-full w-full"src="/images/draw_4.jpeg" alt=""></div>
    <div class="row-start-7 row-span-3 m-1"> <img class="border-2 rounded-xl h-full w-full"src="/images/draw_5.jpeg" alt=""></div>
    <div class="row-start-1 row-span-4 m-1"> <img class="border-2 rounded-xl h-full w-full"src="/images/draw_1.jpeg" alt=""></div>
    <div class="row-start-1 row-span-2 col-span-1 m-1"> <img class="border-2 rounded-xl h-full w-full"src="/images/draw_2.jpeg" alt=""></div>
    <div class="row-start-5 col-span-1 text-center content-center font-secondary text-5xl">Drawings</div>
    <div class="row-start-6 row-span-4 col-span-1 m-1"> <img class="border-2 rounded-xl h-full w-full"src="/images/draw_6.jpeg" alt=""></div>
</div>