---

---
<!-- left -->
<div class="absolute bottom-80 w-4 left-10 top-75 border-black border-3 rounded-xl"></div>
<div class="absolute bottom-80 left-10 top-75 bg-black w-4 h-4 rounded-full transition-all ease-in-out duration-5000 not-hover:translate-y-108 "></div>
<!-- top -->
<div class="absolute h-4 left-150 right-90 top-16 border-black border-3 rounded-xl"></div>
<div class="absolute left-150 right-80 top-16 bg-black rounded-full w-4 h-4 transition-all ease-in-out duration-5000 not-hover:translate-x-316"></div>
<!-- bottom -->
<div class="absolute h-4 left-70 right-40 bottom-11 border-black border-3 rounded-xl"></div>
<div class="absolute right-40 bottom-11 bg-black rounded-full w-4 h-4 "></div>
<!-- right -->
<div class="absolute bottom-85 w-4 right-11 top-30 border-black border-3 rounded-xl"></div>
<div class="absolute h-4 w-4 bottom-85 right-11 bg-black rounded-full transition-all ease-in-out duration-5000 not-hover:-translate-y-148"></div>
