---

---
<!-- left -->
<div class="absolute bottom-80 w-4 left-10 top-75 border-black border-3 rounded-xl hover:border-8 transition-all hover:border-[#FAF0CA]"></div>

<!-- top -->
<div class="absolute h-4 left-180 right-110 top-16 border-black border-3 rounded-xl hover:border-8 transition-all hover:border-[#FAF0CA]"></div>

<!-- bottom -->
<div class="absolute h-4 left-70 right-89 bottom-11 border-black border-3 rounded-xl hover:border-8 transition-all hover:border-[#FAF0CA]"></div>

<!-- right -->
<div class="absolute bottom-40 w-4 right-11 top-40 border-black border-3 rounded-xl hover:border-8 transition-all hover:border-[#FAF0CA]"></div>

