---

---
<!-- left -->
<div class="absolute h-110 w-4 left-10 top-75 border-black border-3 rounded-xl"></div>
<!-- top -->
<div class="absolute h-4 left-150 right-90 top-16 border-black border-3 rounded-xl"></div>
<!-- bottom -->
<div class="absolute h-4 left-70 right-40 bottom-11 border-black border-3 rounded-xl"></div>
<!-- right -->
<div class="absolute h-155 w-4 right-11 top-30 border-black border-3 rounded-xl"></div>
