---
import Logo from './Logo.astro'
import Navigation from './Navigation.astro'
import CaseTitle from './CaseTitle.astro'
---
<header class="grid grid-rows-2">
    <a href="/"><Logo/></a>
    <Navigation/>
</header>