---

---

<div class="absolute left-70 top-40 right-88 bottom-30 border-3 p-3 border-black border-dashed grid grid-cols-4 grid-rows-2 rounded-xl">
    <div class="m-1 col-span-2"> <img class="h-full w-full object-cover object-bottom rounded-xl border-3" src="/public/images/gif1.gif" alt=""></div>
    <div class="border-black border-2 m-1 rounded-xl col-span-2"></div>
    <div class="border-black border-2 m-1 rounded-xl col-span-2"></div>
    <div class="border-black border-2 m-1 rounded-xl col-span-2"></div>
</div>