---

---

<div class="absolute left-70 top-40 right-88 bottom-30 border-3 p-3 border-black border-dashed grid grid-cols-4 grid-rows-2 rounded-xl">
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
    <div class="border-black border-2 m-1 rounded-xl"></div>
</div>