<nav class="text-left text-2xl font-bold pl-10">
    <ul class="">
        <li>
            <a href="/about">About</a>    
        </li>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/fun">Fun</a>
        </li>
    </ul>
</nav>