<nav class="p-4 bg-green-300">
    <ul class="grid grid-cols-10">
        <li>
            <a href="/about">About</a>    
        </li>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/fun">Fun</a>
        </li>
    </ul>
</nav>