<nav class="text-center p-4 bg-secondary rounded-2xl">
    <ul class="grid grid-cols-3">
        <li>
            <a href="/about">About</a>    
        </li>
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a href="/fun">Fun</a>
        </li>
    </ul>
</nav>