<nav class="text-left text-2xl font-bold pl-10 hover:translate-x-10 elay-100 ease-in-out duration-400">
    <ul class="">
        <li>
            <a href="/work">Work</a>
        </li>
        <li>
            <a class=""href="/about">About</a>    
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>