---

---
<nav class="text-left text-4xl pl-10 w-fit font-secondary font-bold">
    <ul class="">
        <li>
            <a class="hover:underline hover:text-[#FAF0CA]"href="/work">Work</a>
        </li>
        <li>
            <a class="hover:underline hover:text-[#FAF0CA]"href="/about">About</a>    
        </li>
        <li>
            <a class="transition-all hover:underline hover:text-[#FAF0CA]" href="/playground">Playground</a>
        </li>
    </ul>
</nav> 