---

---
<nav class="text-left text-4xl font-bold pl-10">
    <ul class="inline-block">
        <li>
            <a class="hover:underline hover:text-[#FAF0CA]"href="/work">Work</a>
        </li>
        <li>
            <a class="rotate-90 hover:underline hover:text-[#FAF0CA]"href="/about">About</a>    
        </li>
        <li>
            <a class="transition-all hover:underline hover:text-[#FAF0CA]" href="/playground">Playground</a>
        </li>
    </ul>
</nav> 