<nav class="text-left text-2xl font-bold pl-10">
    <ul class="">
        <li>
            <a class="hover:translate-x-5 delay-100 ease-in-out duration-400 hover:underline"href="/work">Work</a>
        </li>
        <li>
            <a class="hover:translate-x-5 delay-100 ease-in-out duration-400 hover:underline"href="/about">About</a>    
        </li>
        <li>
            <a class="hover:translate-y-10 delay-100 ease-in-out duration-400 hover:underline"href="/contact">Contact</a>
        </li>
        <li>
            <a class="hover:translate-y-10 delay-100 ease-in-out duration-400 hover:underline" href="/testing">Testing</a>
        </li>
    </ul>
</nav> 