---

---

<!-- <div class="absolute left-70 top-40 right-90 bottom-30 border-3 border-black rounded-xl grid grid-cols-20">
    <div class="rounded-xl m-1 border-2 bg-[#F95738] not-hover:bg-transparent"></div>
</div> -->

<div class="absolute left-70 top-40 right-90 bottom-30 border-3 border-black border-dashed rounded-xl grid grid-cols-12 grid-rows-3">
    <!-- H -->
    <div class=" bg-[#F95738] transition-all not-hover:bg-transparent duration-200 rounded-xl row-span-3"></div>
    <div class=" bg-[#F95738] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-start-2 col-start-2 col-span-1"></div>
    <div class=" bg-[#F95738] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-span-3"></div>
    <!-- E -->
    <div class="ml-3  bg-[#0D3B66] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-span-3"></div>
    <div class="mb-5  bg-[#0D3B66] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-start-1 col-start-5"></div>
    <div class="mb-6  bg-[#0D3B66] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-start-2 col-start-5"></div>
    <div class=" bg-[#0D3B66] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-start-3 col-start-5"></div>
    <!-- L -->
    <div class="ml-3  bg-[#B66F93] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-span-3"></div>
    <div class=" bg-[#B66F93] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out col-start-7 row-start-3"></div>
    <!-- L -->
    <div class="ml-3  bg-[#B66F93] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out row-span-3"></div>
    <div class=" bg-[#B66F93] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out col-start-9 row-start-3"></div>
    <!-- O -->
    <div class="ml-3  bg-[#FAF0CA] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out col-start-10 row-span-3"></div>
    <div class=" bg-[#FAF0CA] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out col-start-11 row-span-1"></div>
    <div class=" bg-[#FAF0CA] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out col-start-11 row-start-3 row-span-1"></div>
    <div class=" bg-[#FAF0CA] transition-all not-hover:bg-transparent duration-200 rounded-xl ease-out col-start-12 row-span-3"></div>

</div>
