---

---
<div class="grid grid-cols-3">
<div class="col-start-2 w-50 hover:scale-110  not-hover:blur-3xl transition-all duration-1000 not-hover:text-transparent"><img src="/public/images/portrait.jpg" alt=""></div>
</div>