---

---
<!-- hele grid -->
<div class="grid grid-cols-6 grid-rows-5 overflow-hidden h-[calc(100vh-304px)] font-secondary">
    <!-- hvid kasse -->
<div class=" rounded-xl col-start-2 row-span-4 m-1 border-2">
    <div class="grid-rows-4">
        <div class="text-4xl m-5 font-primary">Education</div>
        <div class="text-xl m-5 font-thin">
            <li class="mb-10">DMJX - Danish School of Media and Journalism</li>
            <li class="mb-10">Visual Communication</li>
            <li class="mb-10">Coded Design - Frontend Design</li>
            <li class="mb-10">Aurehøj Gymnasium - English/Music</li>
        </div>
    </div>
</div>
    <!-- blå kasse -->
    <!-- grøn kasse -->
    <div class=" rounded-xl row-span-4 m-1 border-2">
        <div class="grid-rows-4">
            <div class="text-4xl m-5 font-primary">Info</div>
            <div class="text-2xl m-5 font-thin">I am born and raised just 20 mins north of Copenhagen, Denmark in a small town named 'Vangede'. I am currently studying 'Coded Design' at DMJX and I'm loving it. Astro is so fun and I like exploring my skills
            </div>
        </div>
    </div>
    <div class=" rounded-xl row-span-4 m-1 border-2">
        <div class="grid-rows-4">
            <div class="text-4xl m-5 font-primary">Hobbies</div>
            <div class="text-2xl m-5 font-thin">I like to draw, play guitar and to learn new skills. I love to cook, and I constantly find myself in the kitchen trying to combine ingridients in new crazy ways. I am detail-oriented but at the same time love a bit of goof and fun. HEY! hover your mouse over the picture on the right to reveal me:)))))
            </div>
        </div>
    </div>
    <!-- billede -->
<div class="row-span-4 border-2 rounded-xl m-1">
        <div class="text-4xl m-5 font-primary">Reveal me</div>
        <div class="contain-content rounded-xl ml-4 mr-4 mb-2 col-start-5 not-hover:blur-xl transition-all duration-300 "><img src="/images/portrait.jpg" alt="picture of me"></div>
    </div>

<div class="row-span-1 col-span-1 border-2 rounded-xl m-1 mr-59 mb-4">
    <a href="https://open.spotify.com/playlist/2VGVhYLi709QBApNJo7WSO?si=2ANNjf0iQIGucIY9K4gk_w" target="_blank" rel="noopener noreferrer"><div class=""><img class="opacity-80" src="/images/spot.png"></div></a>

</div>
</div>