---

---
<div class="absolute w-100 top-50 left-230 hover:scale-110 hover:border-4 not-hover:blur-3xl transition-all hover:translate-x-100 duration-1000 not-hover:text-transparent"><img src="/public/images/portrait.jpg" alt=""></div>
