---

---
<!-- hele grid -->
<div class="grid grid-cols-6 grid-rows-5 overflow-hidden h-[calc(100vh-304px)]">
    <!-- hvid kasse -->
<div class=" rounded-xl col-start-2 row-span-4 m-1 border-2">
    <div class="grid-rows-4">
        <div class="text-4xl m-5 font-extrabold">Education</div>
        <div class="text-2xl m-5 font-thin">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </div>
    </div>
</div>
    <!-- blå kasse -->
<div class=" rounded-xl row-span-4 m-1 border-2">
    <div class="grid-rows-4">
        <div class="text-4xl m-5 font-extrabold">Hobbies</div>
        <div class="text-2xl m-5 font-thin">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </div>
    </div>
</div>
    <!-- grøn kasse -->
<div class=" rounded-xl row-span-4 m-1 border-2">
    <div class="grid-rows-4">
        <div class="text-4xl m-5 font-extrabold">Info</div>
        <div class="text-2xl m-5 font-thin">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </div>
    </div>
</div>
    <!-- billede -->
<div class="row-span-4 border-2 rounded-xl m-1">
        <div class="text-4xl m-5 font-extrabold">Reveal me</div>
        <div class="contain-content rounded-xl ml-4 mr-4 mb-2 col-start-5 transition-all duration-300 "><img src="/public/images/portrait.jpg" alt=""></div>
    </div>
</div>