---

---

<div class="absolute left-70 right-88 top-40 h-200 grid grid-cols-3 border-3 p-3 border-dashed rounded-xl">
    <div class="border-2 border-black m-1 "></div>
    <div class="border-2 border-black m-1 "></div>
    <div class="border-2 border-black m-1 "></div>
</div>