---

---

<div class="absolute left-70 right-88 top-40 bottom-30 grid grid-cols-3 grid-rows-2 border-3 p-3 border-dashed rounded-xl">
    <div class="m-1 row-span-2"> <img class="h-full w-full rounded-xl border-3" src="/images/pidag.gif" alt=""> </div>
    <div class="m-1 row-span-2"> <img class="h-full w-full rounded-xl border-3" src="/images/c3po.gif" alt=""> </div>
    <div class="m-1 row-span-2"> <img class="h-full w-full rounded-xl border-3" src="/images/smack.gif" alt=""> </div>
</div>