---

---
<div class="absolute left-70 right-88 top-40 h-200 border-3 p-3 border-dashed rounded-xl grid grid-cols-4 grid-rows-3">
    <div class="border-2 border-black col-span-1 row-span-3 m-1"></div>
    <div class="border-2 border-black col-span-3 row-span-1 m-1"></div>
    <div class="border-2 border-black col-span-1 row-span-2 m-1"></div>
    <div class="border-2 border-black col-span-1 row-span-2 m-1"></div>
    <div class="border-2 border-black col-span-1 row-span-2 m-1"></div>
</div>