---

---
<div class="absolute left-100 right-400 top-10">
<!-- W -->
<div class="absolute top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-30 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-15 top-105 h-35 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute top-130 h-10 w-40 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<!-- E -->
<div class="absolute left-45 top-130 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-45 top-115 h-10 w-20 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-45 top-100 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-45 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<!-- L -->
<div class="absolute left-80 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-80 top-130 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<!-- C -->
<div class="absolute left-115 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-115 top-100 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-115 top-130 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<!-- O -->
<div class="absolute left-150 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-150 top-100 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-150 top-130 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-170 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<!-- M -->
<div class="absolute left-185 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-200 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-215 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-185 top-100 h-10 w-40 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<!-- E -->
<div class="absolute left-230 top-130 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-230 top-115 h-10 w-20 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-230 top-100 h-10 w-30 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
<div class="absolute left-230 top-100 h-40 w-10 bg-[#FAF0CA] transition-all hover:-translate-y-2 rounded-2xl"></div>
</div>