---
import "../styles/global.css";
import Header from '../components/Header.astro'
import Testing from "../components/Testing.astro";
import Blobs from "../components/Blobs.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header></Header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
	}
	
	body {
		background-image: url("images/b_p.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100%;
		backdrop-filter: blur(100px);
	}


</style>
