---
import "../styles/global.css";
import Header from '../components/Header.astro'
import Blobs from "../components/Blobs.astro"
import Navigation from "../components/Navigation.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caprasimo&family=DM+Serif+Text:ital@0;1&family=Limelight&family=Monoton&display=swap" rel="stylesheet">
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>VV Portfolio</title>
	</head>
	<body>
		<Header></Header>
		<Navigation></Navigation>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
	}
	
	body {
		background-image: url("images/b_p.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100%;
		backdrop-filter: blur(100px);
	}


</style>
